


body {
	margin: 0 auto;
  	width: 900px; 
	font-family: Georgia; 
	font-size: 1em; 
}

.The Coronavirus Pandemic {
	color: #9C0505; 
}

.masthead {
    height:  500px;
    width: 100%;
    padding-bottom: 10px; 
}


blockquote {
    margin-top: 20px; 
    margin-bottom: 20px;
    margin-left: 50px; 
    padding-left: 50px; 
    border-left: 4px solid #ccc;
    color: #black;
    font-size: 1.2em;
}



.pictures {
	display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}


/*figure out how to center caption*/ 
.photo-credit { 
    margin-left: auto;
    margin-right: auto;
    display: block;
 }
    


.fully-vax-chart {
	display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.sectionheader {
    font-weight: 300;
    margin: 10px 0 5px 0;
    width: 30%;
    min-width: 100px;
}

